{{ partial "head" . }}

<div id="container">
	{{ partialCached "header" . }}
   	
   	<div class="outer">
   	{{ if not .Params.disable_profile }}
    	{{ partialCached "profile" . }}
    	<!-- ajout du twitter block -->
    	{{ partialCached "twitterblock" . }}
    	<a class="twitter-timeline" data-height = "500" data-theme="light" data-chrome="noheader nofooter transparent noborders" href="https://twitter.com/antuki13"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    	<!-- ajout du twitter block -->
    {{ end }}

    <section id="main">
    {{ block "main" . }}{{ end }}
    </section>

   	{{ if not .Params.disable_widgets }}
    	{{ partial "sidebar" . }}
    {{ end }}
	</div>
</div>

{{ partialCached "footer" . }}
</body>
</html>