{{ define "main" }}
    {{ $context := . }}
    
    {{ with .Content }}
        {{ partial "single_article.html" $context }}
    {{ else }}
    <section class="archives-wrap">
        <div class="archive-category-wrap">
            <span class="archive-category">{{ .Title }}</span>
        </div>
        <div class="archives">
            {{ $paginator := .Paginate .Data.Pages }}
            {{ range $paginator.Pages }}
                 <!-- {{ .Render "summary" }} -->
                      {{ with .Description }}
      {{ $.Scratch.Set "summary" (markdownify .) }}
    {{ else }}
     {{ $.Scratch.Set "summary" ((delimit (findRE "(<p.*?>(.|\n)*?</p>\\s*)+" .Content) "[&hellip;] ") | plainify | truncate (default 200 .Site.Params.summary_length) (default " &hellip;" .Site.Params.text.truncated ) | replaceRE "&amp;" "&" | safeHTML) }}
    {{ end }}
    {{ $.Scratch.Get "summary" }}
            {{ end }}
        </div>
    </section>
    {{ partial "pagination" . }}
    {{ end }}
{{ end }}