<aside id="sidebar">
    {{ partial "widgets/recent_articles" . }}
    {{ partial "widgets/categories" . }}
    {{ partial "widgets/tags" . }}
    {{ partial "widgets/tag_cloud" . }}
<!-- Personnalisation tweeter  --> 
    <div>
<a class="twitter-timeline" data-height="500" tweet-limit=5 data-dnt="true" data-theme="light" data-link-color="#2AA198" href=https://twitter.com/antuki13 data-chrome="nofooter">Tweets by @antuki13</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
   </div>
 <!-- Personnalisation tweeter --> 
    <div id="toTop" class="fa fa-angle-up"></div>
</aside>
