<aside id="sidebar">
    {{ partial "widgets/recent_articles" . }}
    {{ partial "widgets/categories" . }}
    {{ partial "widgets/tags" . }}
    {{ partial "widgets/tag_cloud" . }}
<!-- Personnalisation twitter  --> 
    <div id="twitter-timeline">
{{ with .Site.Social.twitter }}
<a class="twitter-timeline" data-height="500" data-tweet-limit="5" data-dnt="true" data-theme="light" data-link-color="#2AA198" href="https://twitter.com/{{.}}" data-chrome="nofooter noscrollbar"></a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{{ end }}
   </div>
 <!-- Personnalisation twitter --> 
    <div id="toTop" class="fa fa-angle-up"></div>
</aside>
